#nameAndClassChooseContainer {
    border: solid 2px black;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 6rem;
    margin-bottom: 8rem;
    font-size: 1rem;
    width: 320px;

    @include respondTo(sm) {
        // margin: 0;
        width: 620px;
    }

    @include respondTo(md) {
        margin: 0;
        width: 1200px;
        font-size: 2rem;
    }

    &.gameOff {
        display: none;
    }

    #nameEditContainer {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem 0;

        @include respondTo(sm) {

        }

        @include respondTo(md) {
            flex-direction: row;
            gap: 0 1rem;
            font-size: 2rem;
        }
        
        .nameElements {
            font-family: 'VT323', monospace;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            padding: 0.5rem 1rem;
            width: 100px;
            height: 25px;
            font-size: 1rem;
            border-radius: 0.5rem;
            text-align: center;
            justify-content: center;
            text-transform: uppercase;
            border: solid 2px black;
            background-color: #eee;

            @include respondTo(md) {
                &:hover {
                    cursor: pointer;                    
                    background-color: white;
                }
            }
        }

        #heroNameContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            height: fit-content;

            @include respondTo(md) {
                font-size: 2rem;
            }
        }

        #nameInput {
            display: none;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            height: fit-content;

            @include respondTo(md) {
                font-size: 2rem;
            }
        }

        #saveBtnContainer {
            position: relative;

            #saveNameButton {
                border: none;
                border-right: solid black 2px;
                border-bottom: solid black 2px;
                transition: 0.4s;
                justify-content: center;
                align-items: center;
                display: none;
                width: fit-content;
                height: fit-content;
    
                @include respondTo(md) {
                    font-size: 2rem;

                    &:hover {
                        cursor: pointer;
                        transform: translateY(-4px);
                        transition: 0.4s;
                    }
                }
            }

            
        }

        #nameMoreInfoContainer {
            position: relative;
            
            #nameMoreInfo {
                font-size: 1rem;
                word-break: break-all;
    
                @include respondTo(md) {
                    // margin-left: 2rem;
                }
            }

            #validateNameIcon {
                position: absolute;
                right: -2.5rem;
                top: 50%;
                transform: translateY(-50%);
                width: 30px;
                display: none;
            }
        }

    }

    #classChooseContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            margin-bottom: 0.25rem;
            text-align: center;
        }

        #classMainContainer {
            display: flex;
            flex-direction: column;

            @include respondTo(md) {
                flex-direction: row;
                gap: 0 2rem;
            }

            .classContainers {
                border: solid 2px black;
                border-radius: 0.5rem;
                font-size: 1.25rem;
                width: fit-content;
                word-break: break-all;
                width: 300px;
                margin-top: 1rem;
                padding: 0.5rem;
                display: flex;
                flex-direction: column;

                .classNames {
                    font-size: 1.35rem;

                    @include respondTo(md) {
                        font-size: 2rem;
                    }
                }

                h4 {
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    text-align: center;
                    margin-bottom: 0.25rem;
                }

                button {
                    margin: 0.5rem 0;
                }

                .classInfos {
                    margin-top: 0.25rem;
                    opacity: 0.8;
                }

                .classImgs {
                    width: 42px;
                    margin: 0.5rem auto;

                }

                .classBtnContainers {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 0 1rem;

                    .classBtns {
                        text-transform: uppercase;
                        font-family: 'VT323', monospace;
                        border-right: solid black 2px;
                        border-bottom: solid black 2px;
                        border-radius: 0.5rem;
                        padding: 0.5rem;
                        transition: 0.4s;
                        font-size: 1.25rem;
                        margin: 1rem auto;
    
                        @include respondTo(md) {
                            &:hover {
                                cursor: pointer;
                                transform: translateY(-4px);
                                transition: 0.4s;
                            }
                        }
                    }
    
                    .validateClassIcons {
                        position: absolute;
                        right: 1rem;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 24px;
                        display: none;
                    }    
                }
            }
        }
    }

    #startingItemsChooseContainers {
        border: solid 2px black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
        border-radius: 0.5rem;
        font-size: 1.25rem;
        padding: 0.5rem;
        width: 300px;
        
        @include respondTo(md) {
            width: 600px;
        }

        h4 {
            font-size: 1.2rem;
            text-transform: uppercase;
            text-align: center;
            
            @include respondTo(md) {
                font-size: 1.75rem;
            }
        }

        .radioContainers {
            display: flex;
            align-items: center;

            input[type="radio"]:checked {
                accent-color: black;
                mix-blend-mode: multiply;
            }
        }
    }

    #startPrologueBtnContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem 0;
        margin-top: 2rem;

        #startPrologueBtn {
            text-transform: uppercase;
            font-family: 'VT323', monospace;
            border-right: solid black 2px;
            border-bottom: solid black 2px;
            border-radius: 0.5rem;
            padding: 0.5rem;
            transition: 0.4s;
            font-size: 1.25rem;
    
            @include respondTo(md) {
                &:hover {
                    cursor: pointer;
                    transform: translateY(-4px);
                    transition: 0.4s;
                }
            }
        }

        #startPrologueConditions {
            font-size: 1rem;
            display: none;
        }
    }
}