#playBtnContainer {
    height: 100dvh;
    display: flex;
    display: none;

    #playBtn {
        font-size: 2rem;
        text-transform: uppercase;
        font-family: 'VT323', monospace;
        border-right: solid black 2px;
        border-bottom: solid black 2px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;
        padding: 0 1rem;
        animation: slideAndReturn 2s 1;
        transition: 0.4s;
        margin: auto 0;
        
        @include respondTo(md) {
            width: 150px;
            height: 80px;
            font-size: 4rem;
            
            &:hover {
                cursor: pointer;
                transform: translateY(-4px);
                transition: 0.4s;
            }
        }
    
        &.hidePlayBtn {
            display: none;
        }
    }
}

@keyframes slideAndReturn {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}