#prologueContainer {
    font-size: 1.35rem;
    border: solid 2px black;
    border-radius: 0.5rem;
    background-color: #eee;
    padding: 1rem;
}

#passPrologueBtn {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: 'VT323', monospace;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: 0.4s;
    margin-top: 2rem;

    @include respondTo(md) {
        &:hover {
            cursor: pointer;
            transform: translateY(-4px);
            transition: 0.4s;
        }
    }
}