main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 100dvh;
    
    @include respondTo(md) {
        height: 100dvh;
    }
}

.gameOff {
    border: none !important;
    box-shadow: unset !important;
    background-color: unset !important;
}

#screen {
    position: relative;
    background-color: #333;
    border: solid 4px black;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

    #gameContainer {
        width: 100%;
        
        &.gameOff {
            display: none;
        }

        #canvasContainer {
            height: 198px;
            position: relative;
            
            canvas {
                border-top-right-radius: 0.5rem;
                border-top-left-radius: 0.5rem;
            }

            .nameAndLevelContainers {
                display: flex;
                position: absolute;
                bottom: 0;
                color: white;
                gap: 0 1rem;
                
                .names {
                    text-align: center;
                    text-transform: uppercase;
                }
    
            }
            
            #heroNameAndLevelContainer {
                left: 2rem;
            }

            #bossNameAndLevelContainer {
                right: 2rem;
            }

            #objectInventory {
                position: absolute;
                bottom: 0;
                background-color: #eee;
                color: black;
                height: 50px;
                width: 100%;
                border-top: 2px solid black;
                border-bottom: 2px solid black;
    
                // js event on object inventory//
                display: none;
    
                ul {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
    
                    li::before {
                        content: "-";
                    }
                }
            }
    
            #itemInventory {
                position: absolute;
                bottom: 0;
                background-color: #eee;
                color: black;
                height: 60px;
                width: 100%;
                border-top: 2px solid black;
                border-bottom: 2px solid black;
    
                 // js event on item inventory//
                 display: none;
    
                ul {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
    
                    li::before {
                        content: "-";
                    }
                }
            }
        }
    }
}